[tools]
usage = "latest"

tlrc = "latest"

{{- if ne .chezmoi.os "windows" }}
{{- if .development }}
tree-sitter = "latest"
{{- end }}
{{- end }}

{{- if eq .osid "linux-ubuntu" }}
atuin = "latest"
duf = "latest"
eza = "latest"
lazygit = "latest"
starship = "latest"
zoxide = "latest"
{{- end }}

[settings]
experimental = true
disable_backends = ["asdf"]
idiomatic_version_file_enable_tools = []
exec_auto_install = false
not_found_auto_install = false

[settings.status]
missing_tools = "never"
