[tools]
usage = "latest"

tlrc = { version = "1.12" }
{{- if ne .chezmoi.os "windows" }}
tree-sitter = { version = "0.26" }
{{- end }}

[settings]
experimental = true
disable_backends = ["asdf"]
idiomatic_version_file_enable_tools = []
exec_auto_install = false
not_found_auto_install = false

[settings.status]
missing_tools = "never"
