{{- $personal_computer := promptBoolOnce . "personal_computer" "Is this a personal computer? (y/n)" -}}
{{- $dev_computer := promptBoolOnce . "dev_computer" "Do you do development on this computer? (y/n)" -}}

encryption = "age"
[age]
  identity  = "~/.config/sops/age/keys.txt"
  # todo: having issues with the age1yubikey format of recipient created by age-plugin-yubikey
  recipient = "age1yubikey1qwwnsmww37xputt2xndxhqp82zrqk2hq7mjgvmgrg7jyw96g2xds6j0jzyn"

[data]
  personal_computer = {{ $personal_computer }}
  dev_computer      = {{ $dev_computer }}

  xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
  xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"
