{{- $personal := promptBoolOnce . "personal" "Is this a personal computer? (y/N)" -}}
{{- $development := promptBoolOnce . "development" "Do you do development on this computer? (y/N)" -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

encryption = "age"
[age]
  identity  = "{{ .chezmoi.homeDir }}/.config/sops/age/keys.txt"
  recipient = "age1yubikey1qv9d7qpcpstrf6mafkxekfwjcp29984saucq76gfyewz5ytl70eevwgwkqj"

[data]
  personal    = {{ $personal }}
  development = {{ $development }}
  osid        = {{ $osid | quote }}

  xdgCacheDir  = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir = "{{ .chezmoi.homeDir }}/.config"
  xdgBinDir    = "{{ .chezmoi.homeDir }}/.local/bin"
  xdgDataDir   = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir  = "{{ .chezmoi.homeDir }}/.local/state"
